@"
# Dependencias
node_modules/
npm-debug.log
yarn-error.log

# Entorno
.env
.env.local

# Archivos de construcción
/dist
/build

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Archivos de configuración del editor
.idea/
.vscode/
"@ | Out-File -FilePath .gitignore -Encoding utf8